:root {
    /*Colors*/
    --solid-blue: #0c1926;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*-----------------------------------------*/
/*Container LOADER*/
/*-----------------------------------------*/
.loader {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #0C1926 0%, #022340 98.96%);
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(rgba(1,127,253,1) 10%, rgba(72,195,247,1));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
    animation: spin 0.8s infinite linear;
}

.fade {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}
/*-----------------------------------------*/
/*Container FRONT*/
/*-----------------------------------------*/

.front-button-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

.front-container {
    width: 100%;
    min-width: 360px;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--solid-blue);
    overflow-x: hidden;
}

.image-container{
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
}

.front-page__background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title-container{
    position: absolute;
    text-align: center;
    font-size:1.6rem;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-container > h1, h3 {
    transition: 100ms;
}

.sky {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    background: linear-gradient(180deg, rgba(1,127,253,1) 0%, rgba(72,195,247,1) 57%, rgba(255,255,255,1) 100%);
}

.sky2 {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    background: linear-gradient(180deg, #3A1CEF 0%, #BF32A5 40.89%, #FF7F23 69.79%, #FAFAFA 100%);
    transition:3s;
}

.sky2-show { 
    transition: 3s;
    opacity: 1;
}

.sun{
    position: absolute;
    top: 30vh;
    left: 45vw;
    background-color:#fff;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.sunset {
    transition: 5s;
    transform:translateY(20vh);
}

/* Theme button*/

.theme-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 5vh;
    z-index: 2;
}

.theme-button__hidden{
    z-index: 0;
}

.theme-button {
    width:62px;
    height:auto;
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor:pointer;
}

.fa-angle-down{
    font-size:1.5rem;
}

.switch {
    transition: transform 0.5s;
    margin:3px 3px;
    width:25px;
    height:25px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: url('./pics/darkthemeicon.png') no-repeat;
    background-size: 12px;
    background-position: center;
}



.switch-change {
    transform: translateX(100%);
    background-color: #fff;
    background: url('./pics/lightthemeicon.png') no-repeat;
    background-size: 24px;
    background-position: center;
}

@keyframes sky-color-todark {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


  /* Header menu*/

.main-nav {
    width: 100%;
    position: absolute;
    z-index: 1;
}
  
.main-menu {
    height: 100vh;
    background-color: rgba(12, 25, 38, 0.9) ;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition: transform 0.3s;
    transform: translateY(-100%);
}

.toggle-menu{
    display: block;
    position:absolute;
    width:40px;
    height:40px;
    padding:5px 0;
    cursor:pointer;
    top:2rem;
    right:2rem;
    text-align: center;
    z-index:1;
}

.toggle-menu i {
    font-size:30px;
}

.main-menu__show {
    transform: translateY(0);
}

.main-menu__item {
    padding:1em;
}

.main-menu__link {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .main-menu {
        flex-direction:row;
        transform: translateX(0);
        background-color: transparent;
        height:auto;
    }

    .toggle-menu {
        display: none;
    }

    .front-page__background {
        object-fit: fill;
    }
}

/* Explore button*/

i{
    color: #fff;
}

/*-----------------------------------------*/
/*Container ABOUT*/
/*-----------------------------------------*/

.sections{
    width: 100%;
    height: 100vh;
    background-color: var(--solid-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__about {
    background: linear-gradient(180deg, #0C1926 0%, #022340 98.96%);
}

.logo-cristian {
    height: 250px;
    width: 250px;
    margin-bottom: 2rem;
}

.text-container__about {
    width: 80vw;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

.text-container__about > h2 {
    margin-bottom: 2rem;
}

/*-----------------------------------------*/
/*Container Skills*/
/*-----------------------------------------*/

.Sphere {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

.container__skills {
    background: linear-gradient(180deg, #022340 0%, #03588C 100%);
}

.container-skills-description{
    width: 300px;
    height: auto;
    background: linear-gradient(180deg, #0C1926 0%, #022340 98.96%);
    border-radius: 30px;
    margin-top: 20px;
    padding: 30px
}

.container-skills-description > h3 {
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.description{
    font-size: 1.3rem;
    font-weight: lighter;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom:30px
}

.progress-bar-border {
    width: 100%;
    height:5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    margin: 5px 0 8px 0;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(180deg, #03588C 0%, #0388A6 97.92%);
}